.children {
  min-height: 100vh;
  background-color: white;
  display: flex;
}
.child1 {
  flex: 1;
  padding: 5% 0;
  background: #363636;
}
@media only screen and (max-width: 768px) {
  .children {
    display: block;
  }
  .child1 {
    display: none;
  }
}
.cont {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  padding: 16px 20px;
}
.child2 {
  flex: 2;
  /* padding: 2%; */
}
.accordion-button,
.cont {
  background-color: #363636 !important;
  color: white;
  cursor: pointer;
}
.accordion-body {
  padding: 0 !important;
}
.accordion-button::after {
  background-image: url("./downward-arrow.png");
}
.accordion-button:focus {
  border-color: gray !important;
  box-shadow: none !important;
}
.accordion-item {
  background-color: black !important;
  border: none;
  color: white;
}
.cont:hover,
.accordion-button:hover {
  background-color: #c94c08 !important;
  color: black !important;
}

.accordion-button:not(.collapsed) {
  color: #c94c08;
  font-weight: 600;
  border-bottom: 1px solid gray;
}
.acc-list {
  list-style: none;
  padding: 0;
}
.acc-item {
  padding: 10px 40px;
}
.acc-item:hover {
  background-color: #c94c08 !important;
}
